.herosection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid red;
}

.image-wrapper {
  position: relative;
  padding: 1em;
}
.image-wrapper > h2 {
  position: absolute;
  top: 1em;
  left: 1em;
  color: rgb(222, 75, 75);
  font-size: 3rem;
  z-index: 3;
  mix-blend-mode: difference;
}
.image-wrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
